.no-employee-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e7e7e;
    font-size: 36px;
    span {
        color: #00528a;
    }
}